<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clockworkmod.billing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <!-- <receiver android:name = "com.amazon.device.iap.ResponseReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name = "com.amazon.inapp.purchasing.NOTIFY" -->
        <!-- android:permission = "com.amazon.inapp.purchasing.Permission.NOTIFY" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

    </application>

</manifest>